.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.catCont
{
	border:2px 0;
	border-color: red;
	border-radius: 5px;
}