.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.catCont
{
	border-left:2px; 
	border-right: 2px;
	border-color: red;
	border-radius: 5px;
}

h1{
	font-family: 'Poiret One', cursive;
	color: #FE1C03;
	padding: 2px;
}
h1 a{
	color: #FE1C03;
	transition: border 2s, color 2s;
	-webkit-transition: border 2s, color 2s;
}

h1 a:hover
{
	text-decoration: none;
	border: 1px solid #FF0D02;
	color: #FF0D02;
	transition: border 2s, color 2s;
	-webkit-transition: border 2s, color 2s;
}